@model zkdao.Web.UserServiceReference.UserData
@using zic_dotnet;
@{
    ViewBag.Title = "ZKdao - 更改密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>更改密码</h2>
<div class="mt20">
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true, "更改密码失败，请更正以下错误：")
        <div class="editor-label">
            @Html.LabelFor(m => m.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.NewPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.NewPassword)
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.ConfirmNewPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.ConfirmNewPassword)
            @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
        </div>
        <p>
            <input type="submit" value="Change Password" />
        </p>
    }
</div>