@model zkdao.Web.Models.RegisterModel
@using zic_dotnet;
@{
    ViewBag.Title = "ZKdao - 注册";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{}
@section sidebar{}
<h2>
    欢迎注册！</h2>
<div class="mt20">
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true, "提交失败，请更正以下错误：")
        @Html.LabelFor(m => m.Email)
        <div class="input-prepend">
            <span class="add-on input-ico"><i class="icon-envelope"></i></span>
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        @Html.LabelFor(m => m.Password)
        <div class="input-prepend">
            <span class="add-on input-ico"><i class="icon-lock"></i></span>
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        @Html.LabelFor(m => m.ConfirmPassword)
        <div class="input-prepend">
            <span class="add-on input-ico"><i class="icon-lock"></i></span>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "submit" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
        <p>
            <a class="btn submit"><i class="icon-ok"></i> 注册新用户</a>
        </p>
    }
</div>
