<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <span class="brand"><a class="brand-dark" href="/">ZKdao</a></span>
            <ul class="nav">
                <li>@Html.ActionLink("首页", "Index", "Home")</li>
                <li>@Html.ActionLink("商品库", "Index", "Account")</li>
                <li>@Html.ActionLink("客户端", "Index", "Account")</li>
                <li>@Html.ActionLink("关于我们", "About", "Home")</li>
            </ul>
            <form class="navbar-search pull-right">
                <input type="text" class="search-query" placeholder="搜索" />
            </form>
            <ul class="nav pull-right">
                @Html.Partial("_LogOnPartial")
            </ul>
        </div>
    </div>
</div>
<div class="navbar-fixed-top container logohack">
    <a class="brand-light" href="/">ZKdao</a>
</div>