@using zic_dotnet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Html.CssDoc("master.css")
    <link rel="shortcut icon" href='@Html.ImgUrl("logo.ico")' type="image/x-icon" />
    <script type="text/javascript">        var glo_path = '@Html.ScriptUrl("")'</script>
    <script type="text/javascript" src='@Html.ScriptUrl("zic-js/sea.js")' data-main='@Html.ScriptUrl("init")'></script>
    @RenderSection("head")
</head>
<body>
    @Html.Partial("_HeadPartial")
    <div id="main" class="row">
        <div class="container">
            <div class="span12">
                @RenderBody()
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <span class="SiteFooter">Copyright &copy; 2012-2012, Apworks Project. All rights reserved.
            </span>
        </div>
    </div>
</body>
</html>