@using zic_dotnet;
@using Microsoft.Web.Mvc;
@using C = zkdao.Web.Controllers.AccountController;
@if (Request.IsAuthenticated) {
    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">@User.Identity.Name<b
        class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("账户设置", "Index", "Account")</li>
            <li>@Html.ActionLink("投稿", "Index", "Account")</li>
            <li>@Html.ActionLink("审核", "Index", "Account")</li>
            <li>@Html.ActionLink("注销", "LogOff", "Account")</li>
        </ul>
    </li>
} else {
    <li>@Html.ActionLink("登录", "LogOn", "Account")</li>
    <li>@(Html.ActionLinkWico<C>(c => c.Register(), "注册", "icon-user icon-white"))</li>
}